<!doctype html>
<html>
	<head>
	    <title>{{ screen_name }}的主页</title>
	    <link rel="apple-touch-icon" href="{{ avatar_large }}">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.7/jquery.min.js"></script>
	    <script type="text/javascript" src="http://lib.sinaapp.com/js/jquery-mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
	    <link rel="stylesheet" href="http://lib.sinaapp.com/js/jquery-mobile/1.1.0/jquery.mobile-1.1.0.min.css"></link>
	    <link rel="stylesheet" href="/static/picturebrowser.css"></link>
        
        <script type="text/javascript">
	        $('#page_friends').live('pagecreate', function (event) {
	            friend_cursor = 20;
	            friend_cursor_step = 20;
	            $("#btn_more_friends").live("click",function(){
                    $.ajax({
                        url: "/morefriends?friend_cursor="+friend_cursor,
                        cache: false
                    }).done(function( html ) {
                        $("#ul_list_friends").append(html);
                        $("#ul_list_friends").listview('refresh');
                        $("#ul_list_friends").find("li:last").show();
                        friend_cursor += friend_cursor_step;
                    });
                });
                
                $("#logout").click(function () {
	                alert("Log out");
	                $.ajax({
                        url: "/logout",
                        cache: false
                    }).done(function( html ) {
                        alert("ajax done");
                    });
	            });        
            });
	    </script>
	    
	    <script type="text/javascript">
	        $('#page_photogallary').live('pagecreate', function (event) {
	            page = 2;
	            page_step = 1;
	            $('#title_screen_name').hide();
	            $('#btn_more_pics').die('click')
	            $('#btn_more_pics').live('click',function(event){
	                screen_name = $('#title_screen_name').text();
                    $.ajax({
                        url: "/morepictures?page="+page+"&name="+screen_name,
                        cache: false
                    }).done(function( html ) {
                        $('#ul_list_pics').append(html);
                        $('#ul_list_pics').listview('refresh');
                        $('#ul_list_pics').find("li:last").show();
                        page += page_step                        
                    });
                });
             });
	    </script>
	    
	    <script type="text/javascript">
	        $('#page_search').live('pagecreate', function (event) {
	            $('#btn_search').die('click')
	            $('#btn_search').live('click',function(event){
	                search_value = $('#input_search').val();
                    $.ajax({
                        url: "/searchfriend?searchvalue="+search_value,
                        cache: false
                    }).done(function( html ) {
                        $('#ul_list_search_result').empty();
                        $('#ul_list_search_result').append(html);
                        $('#ul_list_search_result').listview('refresh');
                        $('#ul_list_search_result').find("li:last").show();
                    });
                });
             });
	    </script>
	</head>

	<body>
	    <!-- Start of first page -->
	    <div data-role="page" id="page_friends" data-title="{{ screen_name }}">
	        <!-- header -->
	    	<div data-role="header" data-position="fixed">
	    	    <a href="search" id="btn_header_search" class='ui-btn-right' data-icon='search' data-theme="a" >搜索</a>
		        <h1>{{ screen_name }}</h1>
	        </div><!-- /header -->
	        <!-- content -->
	        <div id="content_index" data-role="content">
		        <ul id="ul_list_friends" data-role="listview" data-theme="d" data-inset="true" data-filter="false">
		            <li><a href="photogallary?query_screen_name={{ screen_name }}">
		                <img width="80" height="80" src="{{ avatar_large }}"></img>
		                <h3>{{ screen_name }}</h3>
		                <p>{{ description }}</p>
		            </a></li>
		            {% for friend in friend_list %}
		                <li><a href="photogallary?query_screen_name={{ friend.screen_name }}" >
	                        <img width="80" height="80" src="{{ friend.avatar_large }}"></img>
				            <h3>{{ friend.screen_name }}</h3>
				            <p>{{ friend.description }}</p>
	                    </a></li>
                    {% endfor %}
                </ul>
                <p><a href="#" data-role="button" data-theme="d" id="btn_more_friends">更多好友</a></p>
		        <p><a href="logout" data-role="button" data-theme="a" id="btn_logout">注销 {{ screen_name }}</a></p>
	        </div><!-- /content -->
	        
		</div>
	</body>
</html>
